Django==6.0.7
daphne
channels
redis
django-redis
celery
psycopg2-binary
python-dotenv
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-yasg
django-filter
boto3
django-storages
stripe
django-allauth
google-auth
google-auth-oauthlib
pycryptodome
agora-token-builder
Pillow
youtube-transcript-api==1.2.4
requests
